<div *ngIf="isProgress" class="overlay">
  <mat-spinner diameter="48"></mat-spinner>
  <p class="loading-text">Processing...</p>
</div>
<div class="page-wrapper">
  <div class="page-header">
    <div class="page-title">
      <h2>Inventory Dashboard</h2>
    </div>
    <div class="page-actions">
      <button mat-raised-button color="primary" class="add-item-button" (click)="goToAddItem()">
        <mat-icon>add</mat-icon> Add
      </button>
      <button mat-raised-button color="accent" class="logout-button" (click)="logOut()">
        <mat-icon>logOut</mat-icon> Logout
      </button>
    </div>
  </div>

  <!-- filter UI -->
  <div class="filter-area">
    <div class="no-data"></div>
    <div class="filter-controls">
      <!-- Title Filter -->
      <mat-form-field appearance="outline">
        <mat-label>Search Title</mat-label>
        <input matInput placeholder="Enter title" [(ngModel)]="filters.title" (input)="applyFilters()" />
      </mat-form-field>

      <!-- Created Date Filter -->
      <mat-form-field appearance="outline">
        <mat-label>Created Date</mat-label>
        <input matInput [matDatepicker]="createdPicker" [(ngModel)]="filters.createdDate"
          (dateChange)="applyFilters()" />
        <mat-datepicker-toggle matSuffix [for]="createdPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdPicker></mat-datepicker>
      </mat-form-field>

    </div>
  </div>

  <div class="dashboard-list">
  <div class="item-row" *ngFor="let item of filteredData | paginate: { id: 'eventPaginate', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems  }">
    <div class="item-image-container">
      <img [src]="item.image || fallbackImage" alt="Item Image" (error)="onImageError($event)" />
    </div>

    <div class="item-info">
      <h3>{{ item.title }}</h3>
      <p class="desc">{{ item.description }}</p>

      <div class="meta">
        <span>Qty: {{ item.qty }}</span>
        <span>Price: ₹{{ item.price }}</span>
        <span>Date: {{ item.date | date:'mediumDate' }}</span>
      </div>

      <!-- <div class="actions">
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </div> -->
    </div>
  </div>
</div>
  <div class="no-data" *ngIf="!isProgress && filteredData.length === 0">
    <p>No items found</p>
  </div>
  <div class="paging" *ngIf="filteredData?.length !== 0">
    <div class="paging-left">
      <pagination-controls id="eventPaginate" class="mvp-pagination" previousLabel="" nextLabel=""
        (pageChange)="goToPage($event)"></pagination-controls>
    </div>
    <div class="paging-right">
      <div class="page-counts">
        {{ (currentPage - 1) * itemsPerPage + 1 }} to
        {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
        of {{ totalItems }} items
      </div>
    </div>
  </div>